.con-body{
border-top: 2px solid white;
border-bottom: 2px solid white;
}
   tbody {
       display: block;
       overflow: auto;
       height: calc(100vh - 230px);
       border-bottom: 2px solid white;
   }

   thead, tbody tr {
        height: auto;
       display: table;
       width: 100%;
       table-layout: fixed;
   }
   tbody{
    height: auto;
    display:block;
    /* overflow:scroll */
    border-bottom: solid black 2px;
    border-top: solid black 1px;
   }


   th {
       text-align: center;
   }

   td {
       text-align: center;
   }
.btn{
    width: auto;
    margin-bottom: 7px;
    max-height: 40px; 
}
.select-form{
  max-width: 240px;
  max-height: 40px;   
}
@media screen and (max-width: 521px) {
    .table{
        font-size: 11px;
    }
  }
  @media screen and (max-width: 521px) {
   th{
    margin: 0;
    padding: 2px;
   }
    .btn{
        margin: 5px
    }
  }
  @media screen and (max-width: 450px) {
    .table{
        font-size: 11px;
       }
       .data-id {
        width: 75px;
       }
   }
   @media screen and (max-width: 358px) {
       .data-id {
        width: 50px;
       }
   }